<div class="logo">

    <div class="divlogo">
        <img src="./assets/img/ualogomini.png" width="40" height="40" />
    </div>
    <a class="simple-text logo-normal" *ngIf="rollog=='ROL_ADMIN'">
        Admin
    </a>
    <a class="simple-text logo-normal" *ngIf="rollog=='ROL_ALUMNO'">
      Alumno
  </a>
    <a class="simple-text logo-normal" *ngIf="rollog=='ROL_EDITOR'">
    Editor
</a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
