<div class="panel-header panel-header-sm">

</div>

<div class="main-content">
    <div class="row primerafila">
        <div class="col-md-4 input-group no-border">
            <input #txtQuery (keyup)="cargarTrabajos(txtQuery.value)" class="form-control" autocomplete="off" placeholder="Busca...">
            <div class="input-group-append">
                <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Trabajos</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-primary text-center" *ngIf="loading">
                        <h4 class="alert-heading">Cargando!</h4>
                        <i class="fa fa-spin fa-spinner fa-3x"></i>
                        <p>Por favor, espere</p>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Título
                                </th>
                                <th>
                                    Titulación
                                </th>
                                <th>
                                    Director
                                </th>
                                <th>
                                    Acción
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let trabajo of listaTrabajos">
                                    <td class="micursor">{{trabajo.titulo}}</td>
                                    <td>{{trabajo.titulacion.nombre}}</td>
                                    <td>{{trabajo.director}}</td>
                                    <td>
                                        <i class="fa fa-pencil-alt text-success fa-lg mr-5 micursor" (click)="subirTrabajo(trabajo.uid)"></i>
                                        <i class="fas fa-upload fa-lg mr-5 micursor" (click)="subirContenidos(trabajo.uid)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-2 mr-2 float-right">
                        <app-pagination (cambiarPagina)="cambiarPagina( $event ) " [texto]="true " [totalRegistros]="totaltrabajos" [registroActual]="posicionactual+1 " [registrosPorPagina]="registrosporpagina "></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
