<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="animate__animated animate__fadeInRight animate__faster">
        <div class="d-flex justify-content-center">
            <div class="card col-md-10">
                <div class="card-body">
                    <div class="alert alert-primary text-center" *ngIf="loading">
                        <h4 class="alert-heading">Cargando!</h4>
                        <i class="fa fa-spin fa-spinner fa-3x"></i>
                        <p>Por favor, espere</p>
                    </div>
                    <div>
                        <button class="btn btn-info m-r-10" [disabled]="!datosForm.pristine" routerLink="/admin/trabajos">Volver</button>
                    </div>
                    <div *ngIf="imagenUrl!=''" class="text-center imperfil" style="width: 200px;">
                        <img [src]="imagenUrl" class="img-thumbnail rounded-circle" width="200">
                    </div>
                    <form class="form-horizontal m-t-20" [formGroup]="datosForm">
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Título</span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <input type="text" class="form-control" formControlName="titulo" [ngClass]="{ 'is-invalid' : campoNoValido( 'titulo')} " id="titulo">
                                <div class="invalid-feedback ">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Autor</span>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <input type="text" disabled class="form-control" id="autor" value="{{nombreAlu}}">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalAutor"><strong>BuscarAlu</strong></button>
                                <button class="btn btn-primary btn-sm" (click)="clickModal()" data-toggle="modal" data-target="#modalAlu"><strong>NuevoAlu</strong></button>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Titulación</span>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <input type="text" class="form-control" disabled id="titulacion" value="{{nombreTitu}}">
                                <select class="form-control" (change)="actualizarCamposTitu()" formControlName="titulacion" id="titulacion" style="width: 100%; height:36px;">
                                  <option *ngFor="let titulacion of listaTitulaciones"  [ngValue]="titulacion.uid">{{titulacion.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Area</span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <input type="text" disabled class="form-control" formControlName="area" id="area">
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Tipo</span>
                            </div>
                            <div class="col-lg-2 col-md-12">
                                <input type="text" disabled class="form-control" formControlName="tipo" id="tipo">
                            </div>
                        </div>
                        <!-- Campos que debe introducir el alumno -->
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Tutor </span>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <input type="text" class="form-control" formControlName="director" [ngClass]="{'is-invalid' : campoNoValido('director')}" id="director">
                                <div class="invalid-feedback">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Enlace defensa</span>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <input type="text" class="form-control" formControlName="enlace" [ngClass]="{'is-invalid' : campoNoValido('enlace')}" id="enlace">
                                <div class="invalid-feedback">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Fecha defensa</span>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <input type="text" class="form-control" formControlName="defensa" [ngClass]="{'is-invalid' : campoNoValido('defensa')}" id="defensa">
                                <small class="form-text text-muted">Formato: "7-9-2022"</small>
                                <div class="invalid-feedback">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Curso académico</span>
                            </div>
                            <div class="col-lg-2 col-md-12">
                                <input type="text" class="form-control" formControlName="curso" [ngClass]="{'is-invalid' : campoNoValido('curso')}" id="curso">
                                <small class="form-text text-muted">Formato: "2021-2022"</small>
                                <div class="invalid-feedback">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Palabras clave</span>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <input type="text" class="form-control" formControlName="palabrasclave" [ngClass]="{'is-invalid' : campoNoValido('palabrasclave')}" id="palabrasclave">
                                <small class="form-text text-muted">Formato: "palabra clave | palabra clave"</small>
                                <div class="invalid-feedback">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class=" row m-t-10 ">
                            <div class="col-lg-3 col-md-12 text-lg-right ">
                                <span class=" ">Resumen</span>
                            </div>
                            <div class="col-lg-8 col-md-12 ">
                                <textarea class="form-control" formControlName="resumen" [ngClass]="{'is-invalid' : campoNoValido('resumen')}" id="resumen" rows="4"></textarea>
                                <div class="invalid-feedback ">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-t-10">
                            <div class="col-lg-3 text-lg-right">
                                <span class=" ">Imagen trabajo</span>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" formControlName="imagen" id="fotoperfil" (change)="cambioImagen( $event )">
                                    <label class="custom-file-label" for="fotoperfil" data-browse="Elegir">{{fileText}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center m-t-10 ">
                            <div class="align-content-center ">
                                <button class="btn btn-primary m-r-20 " type="submit " (click)="enviar()" id="enviar" [disabled]="datosForm.pristine">Enviar</button>
                                <button class="btn btn-danger " type="button" (click)="cancelar()" id="cancelar" [disabled]="datosForm.pristine">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal búsqueda autor -->
<div class="modal fade" id="modalAutor">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="modal-title w-100 font-weight-bold">BUSCAR ALUMNO</h4>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row m-t-10">
                    <div class="col-lg-3 col-md-12 text-lg-right"></div>
                    <div class="col-lg-6 col-md-8">
                        <input #txtQuery (keyup)=" cargarAlumnos(txtQuery.value) " autocomplete="off " class="form-control " type="text " placeholder="Busca un alumno " value={{nombreAlu}}>
                        <!-- RESULTADOS -->
                        <div *ngIf="loading2" class="alert alert-primary mt-2 text-center ">
                            <h6>Cargando</h6>
                            <span>Espere por favor...</span>
                        </div>
                        <ul class="list-group mt-2 porencima " *ngIf="ultimaBusqueda.length>2">
                            <li *ngFor="let alumno of listaAlumnos" class="list-group-item list-group-item-action micursor" data-dismiss="modal" type="close" data-target="#" (click)="esteLugar( alumno )">
                                <h6>{{ alumno.nombre_apellidos }}</h6>
                                <p>{{ alumno.email }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-t-10 text-center">
                <button class="btn btn--pill btn--signin cerrar" id="cerrar" data-dismiss="modal" type="close" data-target="#">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal por si se quiere registrar un nuevo usuario -->
<div class="modal fade" id="modalAlu">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="modal-title w-100 font-weight-bold">NUEVO ALUMNO</h4>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="datosForm2" [formGroup]="datosForm2">

                    <div class="row m-t-10">
                        <div class="col-lg-3 col-md-12 text-lg-right">
                            <span class="">Nombre y apellidos</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <input type="text" class="form-control" formControlName="nombre_apellidos" [ngClass]="{'is-invalid' : campoNoValido2('nombre_apellidos')}" id="nombre_apellidos">
                            <div class="invalid-feedback">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-lg-3 col-md-12 text-lg-right">
                            <span class=" ">Email</span>
                        </div>
                        <div class="col-lg-8 col-md-12 ">
                            <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid' : campoNoValido2( 'email')} " id="email">
                            <div class="invalid-feedback ">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-lg-3 col-md-12 text-lg-right">
                            <span class="">Password</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <input type="text" class="form-control" formControlName="password" [ngClass]="{'is-invalid' : campoNoValido2('password')}" id="password">
                            <div class="invalid-feedback">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center m-t-10">
                        <div class="align-content-center">
                            <button class="btn btn-primary m-r-20 " type="submit" id="enviar" [disabled]="datosForm2.pristine" (click)="enviar2()">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>