<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="animate__animated animate__fadeInRight animate__faster">
        <div class="d-flex justify-content-center">
            <div class="card col-md-10">
                <div class="card-body">
                    <div>
                        <button class="btn btn-info m-r-10" [disabled]="!datosForm.pristine" routerLink="/admin/usuarios">Volver</button>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <form class="form-horizontal m-t-20" [formGroup]="datosForm" (ngSubmit)="enviar()">
                                <h5 class="text-center">Actualizar usuario</h5>
                                <div class="row m-t-10">
                                    <div class="col-lg-4 col-md-12 text-lg-right">
                                        <span class="">Nombre y apellidos</span>
                                    </div>
                                    <div class="col-lg-5 col-md-12">
                                        <input type="text" class="form-control" formControlName="nombre_apellidos" [ngClass]="{'is-invalid' : campoNoValido('nombre_apellidos')}" id="nombre_apellidos">
                                        <div class="invalid-feedback">
                                            El campo es obligatorio
                                        </div>
                                    </div>
                                </div>
                                <div class=" row m-t-10 ">
                                    <div class="col-lg-4 col-md-12 text-lg-right ">
                                        <span class=" ">Email</span>
                                    </div>
                                    <div class="col-lg-4 col-md-12 ">
                                        <input type="text " class="form-control " formControlName="email" [ngClass]="{ 'is-invalid' : campoNoValido( 'email')} " id="email ">
                                        <div class="invalid-feedback ">
                                            El campo es obligatorio
                                        </div>
                                    </div>
                                </div>
                                <div class=" row m-t-10 ">
                                    <div class="col-lg-4 col-md-12 text-lg-right ">
                                        <span class=" ">Rol</span>
                                    </div>
                                    <div class="col-lg-6 col-md-12 ">
                                        <select class="select2 form-control custom-select" formControlName="rol" [ngClass]="{'is-invalid' : campoNoValido('rol')}" style="width: 100%; height:36px;" id="rol">
                                        <option value="ROL_ADMIN">Administrador / Administradora</option>
                                        <option value="ROL_ALUMNO" >Alumno / Alumna</option>
                                        <option value="ROL_EMPRESA">Empresa</option>
                                        <option value="ROL_EDITOR">Editor/ Editora</option>
                                      </select>
                                        <div class="invalid-feedback">
                                            El campo es obligatorio
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center m-t-10 ">
                                    <div class="align-content-center ">
                                        <button class="btn btn-primary m-r-20 " type="submit " id="enviar" [disabled]="datosForm.pristine">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Columna contraseña -->
                        <div class="col-md-6">
                            <form [formGroup]="nuevoPassword" (ngSubmit)="cambiarPassword()">
                                <!-- <div class=" row m-t-10 ">
                                    <div class="col-lg-3 col-md-12 text-lg-right"></div>
                                    <div class="col-lg-3 col-md-12"></div>
                                </div> -->
                                <h5 class="text-center">Cambiar contraseña</h5>
                                <div class=" row m-t-10 ">
                                    <div class="col-lg-4 col-md-12 text-lg-right">
                                        <span class="">Password</span>
                                    </div>
                                    <div class="col-lg-5 col-md-12">
                                        <input type="password" class="form-control" formControlName="nuevopassword" [ngClass]="{'is-invalid' : campoNoValidoPass('nuevopassword')}" id="nuevopassword">
                                        <div class="invalid-feedback">
                                            El campo es obligatorio
                                        </div>
                                    </div>
                                </div>
                                <div class=" row m-t-10 ">
                                    <div class="col-lg-4 col-md-12 text-lg-right">
                                        <span class="">Repetir password</span>
                                    </div>
                                    <div class="col-lg-5 col-md-12">
                                        <input type="password" class="form-control" formControlName="nuevopassword2" [ngClass]="{'is-invalid' : campoNoValidoPass('nuevopassword2')}" id="nuevopassword2">
                                        <div class="invalid-feedback">
                                            El campo es obligatorio
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center m-t-10 ">
                                    <div class="align-content-center ">
                                        <button class="btn btn-warning m-r-20" type="submit " id="enviarpassword" [disabled]="nuevoPassword.pristine || nuevoPassword.get('nuevopassword').value.length===0"><i class="fa fa-key m-r-10"></i>Cambiar contraseña</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
